
.sectionTienda {
    margin-top: 35px;
}

.tituloTienda {
    color: #D3B9B9;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.galeriaTienda {
    margin-top: 60px;
}
.imgProductos {
    object-fit: contain;
    padding: 2px;
}

hr {
    color:#D3B9B9;
}
.card {
    margin: 10px 5px;
}

.tituloCarrito {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    color: #D3B9B9 ;
}

.tituloTotalCarrito {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    color:#D3B9B9 ;
}




