
.sectionTienda {
    margin-top: 35px;
}

.tituloTienda {
    color: black;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.galeriaTienda {
    margin-top: 60px;
}
.imgProductos {
    object-fit: contain;
    padding: 2px;
}

.card {
    margin: 10px 5px;
}

